# OS files
.DS_Store

# Log files
*.log

# Vendor files
/node_modules
/vendor
/site/plugins

# Cache and temporary files
/.cache
/.php-cs-fixer.cache
/.phpunit.*
/index.dev.mjs
/phpunit.xml
/tests/coverage
/tests/site
/tests/*/tmp
/tools/**/vendor
